@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Russo+One&display=swap');
 * {
     padding: 0;
     margin: 0;
     border: 0;
     font-family: 'Russo One', sans-serif;
}
 body {
     background-color: #585191;
     background-image: url(../images/gears-bg.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     color: white;
     font-family: 'Russo One', sans-serif;
}
/* styles the header elements on the xs homepage */
 #home-header {
     padding-bottom: 50px;
     background-image: url(../images/xs-header-bg.jpg);
     background-position: center;
     background-size: cover;
     border-style: solid;
     border-left-style: none;
     border-right-style: none;
     border-color: white;
     border-width: 1px;
     height: 340px;
}
 #home-header img{
     display: block;
     width: 100px;
     margin: 0 auto;
     padding-top: 38px;
}
 #home-header h1{
     width: auto;
     background-color: black;
     text-align: center;
     margin: 30px auto;
     margin-top: 20px;
     margin-bottom: 45px;
     padding: 15px 0 ;
     letter-spacing: .33em;
     text-indent: -.33em;
     direction:rtl;
     font-size: 28px;
     font-weight: 100;
}
 #header-content-circle{
     background-color: rgba(0, 0, 0, 0.67);
     width: 60vw;
     height: 60vw;
     border-radius: 30vw;
     margin: 0 auto;
     display: block;
}
/* styles start game button in the header and bottom on page */
 .home-start-button{
     margin: 0 auto;
     width: 140px;
     height: 60px;
     font-weight: bold;
     border-style: solid;
     border-radius: 18px;
     border-color: white;
     border-width: 2px;
     background-color: black;
     text-align: center;
     letter-spacing: 7px;
}
 .home-start-button a{
     text-decoration: none;
     color: white;
     width: 140px;
     height: 50px;
     padding: 30px 20px;
     padding-left: 28px;
     line-height: 3.8;
     vertical-align: middle;
}
/* styles the bottom page button */
 .bottom-start-button{
     margin-bottom: 30px;
     background-color: white;
     color: black;
     border-color: black;
}
 .bottom-start-button a{
     margin-bottom: 30px;
     color: black;
}
/* styles the information elements */
 .index-main-text h2{
     width: 100%;
     text-align: center;
     margin-bottom: 20px;
     font-size: 30px;
     letter-spacing: .23em;
     text-indent: -.23em;
}
 .ape-info h2{
     text-align: center;
     padding: 10px;
}
 .index-main-text {
     width: 100%;
}
 .index-main-text ul{
     list-style-type: none;
     text-align: center;
     padding:0 20px;
}
 .index-main-text ul li {
     margin-bottom: 15px;
}
 #game-rules{
     background-color: rgba(0, 0, 0, 0.67);
     padding: 50px 0;
}
 .ape-info{
     background-color: rgba(0, 0, 0, 0.67);
     padding: 50px 10px;
     margin-bottom: 30px;
     margin-top: 30px;
}
 .chimp{
     width: 95%;
     margin: 0 auto;
     padding-bottom: 20px;
}
/* styles the information video */
 .video {
     width: 100%;
     height: 100%;
     max-width: 400px;
     margin: 0 auto;
     height: 200px;
     background-color: blac 
}
 .video iframe{
     width: 100%;
     height: 100%;
     min-height: 200px;
     margin-bottom: 0px;
}
/* XS game page hub styling starts here */
 #game-hub{
     height: 200px;
}
 #logo-circle{
     position: relative;
     height: 100px;
     width: 100px;
     left: 50%;
     top: 15px;
     transform: translate(-50%,0%);
     background-image: url(../images/ape.png);
     background-size: cover;
}
/* Link to homepage */
 #home-page-el{
     position: absolute;
     height: 80px;
     width: 90px;
     top: 13px;
     left: 10px;
     border-style: none;
     border-color: white;
     border-width: 2px;
     border-radius: 5px;
}
 #home-page-el a{
     position: relative;
     top: 5px;
     padding: 43px 20px;
     width: 100px;
     height: 100px;
     color: white;
     text-decoration: none;
     text-align: center;
     font-size: 15px;
     padding-right: 70px;
}
 #home-page-el a span{
     position: relative;
     top: 5px;
     left: 36px;
     font-size: 16px;
}
/* Element that holds the record score title */
 #record-holderEl{
     position: absolute;
     height: 40px;
     width: 45px;
     top: 5px;
     right: 15px;
     padding: 20px 20px;
     text-align: center;
     border-style: none;
     border-color: white;
     border-width: 2px;
     border-radius: 5px;
}
 #record-holderEl h2{
     position: absolute;
     top: 20px;
     right: 15px;
     font-size: 15px;
}
 #record-holderEl p{
     position: absolute;
     top: 45px;
     right: 30px;
     font-size: 30px;
}
 #game-hub h1{
     position: absolute;
     left: 50%;
     top: 123px;
     transform: translate(-50%,0%);
     width: 100%;
     text-align: center;
     letter-spacing: .23em;
     text-indent: -.23em;
     direction:rtl;
     font-size: 30px;
}
/* game area styling starts here */
 #box-container {
     width: 100vw;
     position: absolute;
     bottom: 0;
     height: auto;
}
/* boxes and containers below */
 .col{
     background-color: white;
     display: inline-block;
     width: 33.33vw;
     color: black;
     height:150px;
     border-style: solid;
     border-color: black;
     border-width:2px;
     box-sizing: border-box;
     display: inline-flex;
     align-content: center;
     justify-content: center;
}
 .box {
     border-radius: 5px;
}
 .box .box-number {
     color: black;
     text-align: center;
     font-size: 30px;
     font-family: 'Russo One', sans-serif;
     position: relative;
     top: 50%;
     transform: translate(0%,-50%);
}
/* Media queries for screen height to be able to contain the board */
 @media screen and (min-height: 850px) {
    /* boxes and containers below */
     #box-container {
         width: 710px ;
         margin: 0 auto;
         position: absolute;
         bottom: 0px;
         height: auto;
         left: 50%;
         transform: translate(-50%,0%);
    }
    /* boxes and containers below */
     .col{
         width: 100px;
         height: 100px;
         margin: 45px;
    }
     .box {
         border-radius: 5px;
    }
     .box .box-number {
         color: black;
         text-align: center;
         font-size: 30px;
         font-family: 'Russo One', sans-serif;
         position: relative;
         top: 50%;
         transform: translate(0%,-50%);
    }
}
 @media screen and (max-height: 730px) {
     .col{
         height:15vh;
    }
}
 @media screen and (max-height: 508px) {
     .col{
         height:15vh;
    }
     #game-hub{
         height: 150px;
    }
     #logo-circle{
         position: relative;
         height: 70px;
         width: 70px;
         left: 50%;
         top: 15px;
         transform: translate(-50%,0%);
         background-image: url(../images/ape.png);
         background-size: cover;
    }
     #game-hub h1{
         top: 90px;
         font-size: 25px;
    }
     #xs-levelEl-scoreEl-wrap{
         top: 130px !important;
    }
     #score-holderEl{
         float: right;
    }
     #reset-button{
         top: 193px !important;
         height: 38px;
         font-size: 12px!important;
    }
}
/* Element made for wrapping the high score and current score together on xs screen */
 #xs-levelEl-scoreEl-wrap{
     position: absolute;
     width: 100vw;
     top: 168px;
     margin: 0;
}
 #level-holderEl, #score-holderEl{
     float: left;
     background-color: white;
     color: black;
     position: relative;
     min-width: 49.8%;
     text-align: center;
     margin: 0;
     padding: 0;
}
 #score-holderEl{
     float: right;
}
 #reset-button{
     position: absolute;
     top: 230px;
     height: 38px;
     font-size: 15px;
     border-style: solid;
     border-color: white;
     border-width: 2px;
     border-radius: 10px;
     padding: 0 20px;
     background-color: rgba(0, 0, 0, 0.32);
     color: white;
     left: 50%;
     transform: translate(-50%, 0%);
}
 #start-button {
     position: absolute;
     width: 170px;
     height: 170px;
     border-radius: 100px;
     font-size: 20px;
     top: 350px;
     left: 50%;
     transform: translate(-50%, 0%);
}
 footer {
     height: 40px;
     text-align: center;
     background-color: black;
     position: relative;
     bottom: 0;
}
 footer p{
     position: relative;
     top: 10px;
}
 @media screen and (min-width: 768px) {
    /* Homepage styling */
     #home-header h1{
         background-color: rgba(0, 0, 0, 0.67);
         border-radius: 25px;
         margin-top: 0px;
         margin-bottom: 10px;
         padding: 15px 0 ;
         font-size: 38px;
         width: 400px;
    }
     .index-main-text p{
         line-height: 1.5;
    }
     .index-main-text ul{
         text-align: center;
    }
    /* Game page styling*/
     #start-button {
         width: 280px;
         height: 280px;
         border-radius: 140px;
         font-size: 25px;
    }
}
 @media screen and (min-width: 992px) {
    /* Home page styling*/
     .index-main-text{
         font-size: 18px;
    }
     #game-rules ul {
         text-align: center;
         list-style-type: none;
    }
     .ape-info{
         background-color: rgba(0, 0, 0, 0.67);
         margin-top: 40px;
         height: auto;
         display: flex;
         align-items: center;
    }
     .ape-info h2{
         text-align: left;
    }
     .chimp {
         background-color: rgba(0, 0, 0, 0);
         display: inline-block;
         width: 40%;
         border: none;
    }
    /* styles the information video */
     .video {
         background-color: rgba(0, 0, 0, 0);
         width: 50%;
         height: auto;
    }
     .video iframe{
         background-color: rgba(0, 0, 0, 0);
         min-height: 300px;
    }
    /* game area styling starts here */
     #box-container {
         width: 510px;
         margin: 0 auto;
         position: absolute;
         bottom: 0px;
         height: auto;
         left: 50%;
         transform: translate(-50%,0%);
    }
    /* boxes and containers below */
     .col{
         width: 100px;
         height: 100px;
         margin: 35px;
    }
     .box {
         border-radius: 5px;
    }
     .box .box-number {
         color: black;
         text-align: center;
         font-size: 30px;
         font-family: 'Russo One', sans-serif;
         position: relative;
         top: 50%;
         transform: translate(0%,-50%);
    }
}
 @media screen and (min-width: 1200px) {
    /* Game page styling*/
     #record-holderEl h2{
         top: 20px;
         right: 25px;
         font-size: 25px;
    }
     #record-holderEl p{
         top: 65px;
         right: 55px;
         font-size: 40px;
    }
     #home-page-el a{
         font-size: 25px;
    }
     #home-page-el a span{
         top: 1px;
         left: 54px;
         font-size: 16px;
    }
     .hub-element p{
         font-size: 30px;
    }
     #reset-button{
         top: 245px;
    }
    /* Home page styling*/
}
 @media screen and (min-height: 850px) {
    /* boxes and containers below */
     #box-container {
         width: 570px ;
         margin: 0 auto;
         position: absolute;
         bottom: 0px;
         height: auto;
         left: 50%;
         transform: translate(-50%,0%);
    }
    /* boxes and containers below */
     .col{
         width: 100px;
         height: 100px;
         margin: 45px;
    }
     .box {
         border-radius: 5px;
    }
     .box .box-number {
         color: black;
         text-align: center;
         font-size: 30px;
         font-family: 'Russo One', sans-serif;
         position: relative;
         top: 50%;
         transform: translate(0%,-50%);
    }
}
 @media screen and (min-height: 950px) {
    /* boxes and containers below */
     #box-container {
         width: 630px ;
         margin: 0 auto;
         position: absolute;
         bottom: 0px;
         height: auto;
         left: 50%;
         transform: translate(-50%,0%);
    }
    /* boxes and containers below */
     .col{
         width: 100px;
         height: 100px;
         margin: 55px;
    }
     